#text {
    font-family: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
}

textarea,
input,
button,
select {
    border-width: 2px !important;
}

#angles line,
#angles path,
#angles circle {
    stroke: #666;
}

#angles text {
    fill: #333;
    font-size: 10px;
}

#angles path.drag {
    fill: #666;
    cursor: move;
}

#angles {
    text-align: center;
}